/* css file */

* {
    padding: 0;
    margin: 0;
    font-family: 'Gowun Batang', serif;

}


#vertical-tile{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
}

.work-history{
    margin: 5px 5px;
   
}

#header{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title {
    text-decoration: underline;
}